<div id="wrapper">
  <div id="main">
    <!-- One -->
    <section id="one">
      <div class="container">
        <header class="major">
          <h2>Spell <em>It</em></h2>
          <p>Created by a guy whose name the customer<br />
          service rep. often spelled wrong.</p>
        </header>

      <%= form_for @phonetic do |f| %>
        <div class="row">
          <div class="6u 12u(xsmall)">
            <%= f.text_field :word,placeholder: "Enter text here" %> <br>
          </div>
          <div class="row uniform">
            <div class="12u">
                <%= f.submit "Go", class: "special" %>
              <% end %>
            </div>
          </div>
          <p>Your text will be converted to NATO, English, Italian phonetics and Morse code.</p>
      </div>
    </section>
  </div>
</div>
