<div id="wrapper">
  <div id="main">
    <!-- One -->
    <section id="one">
      <div class="container">
        <% cache do %>
          <header class="major">
            <h2>Spell <em>It</em></h2>
            <p>Created by a guy whose name the customer<br />
            service rep. often spelled wrong.</p>
          </header>
        <% end %>

      <%= form_for @phonetic do |f| %>
        <div class="row">
          <div class="6u 12u(xsmall)">
            <%= f.text_field :word,placeholder: "Enter text here" %> <br>
          </div>
          <div class="row uniform">
            <div >
                <%= f.submit "Go", class: "special", style: "
    width: 60px;" %>
              <% end %>
            </div>
          </div>
          <p>Your text will be converted to NATO, English, Italian phonetics and Morse code.</p>
      </div>
    </section>
  </div>
</div>
