<section id="footer">
  <div class="container">
    <ul class="copyright">
      <li>With love by <a href="http://github.com">Thupten N Chakrishar</a>.</li><li>Photo Credit:<a href="https://unsplash.com/eutahm"> Eutah Mizushima</a></li>
    </ul>
  </div>
</section>
