<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Phonetics</title>
  <%= stylesheet_link_tag    'style.css', media: 'all' %>
  <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
</head>
<body>

  <section id="wrapper" class="group">
    <%= yield %>

    <footer id="post-meta" class="clearfix">
      <div><span>created with <3 by</span> <a href="http://github.com/vajradog">@vajradog</a></div>
    </footer>
  </section>
</body>
</html>
